@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #C0C0C5; 
    /* background-color: #0A0A0A; */
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: #0A0A0A;
    color: #fff;
    height: 130vh;
    /* margin-bottom: 100px; */
    margin: 100px;
    border-radius: 30px;
}
header{
    max-width: 90%;
    margin: 0 auto;
}

/* Navigation */
.navbar{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.navbar h2{
    font-size: 40px;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.navbar ul li:nth-child(2),
.navbar ul li:nth-child(3){
    margin-left: 50px;
}
.navbar ul .navbar__hamburger-menu{
    fill: #fff;
    width: 40px;
    height: auto;
}

/* navbar hover effects */
.navbar ul li:hover{
    color:#FFBC01;
    cursor: pointer;
}

.navbar ul .navbar__hamburger-menu:hover{
    fill: #FFBC01;
    cursor: pointer;
}

/* ///////////////////////////////////// */

/* Main heading section */
.main-heading-container{
    max-width: 90%;
    margin: 0px auto;
}

.main-heading-container h1{
    max-width: 45%;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 2px;
}


.main-heading-container .inside{
    letter-spacing: 30px;
    border-bottom: 2px solid #FFBC01;
}

/* ////////////////////////////////////////// */


/* article section */
.articles-container{
    max-width: 90%;
    margin: 90px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles-container p{
    line-height: 1.8;
}

.articles-container__blog{
    margin: 15px;
}

.articles-container a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.articles-container a:hover{
    color:#FFBC01;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
/* /////////////////////////////////////////// */




/* Services section */
.services-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A0A0A;
    font-size: 18px;
    text-align: center;
}
.services__card{
    flex: 1;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    margin: 10px;
}

.services__card--F2B2D7{
    background-color:#F2B2D7;
}
 .services__card--D0E957{
    background-color:#D0E957;
}
.services__card--FFBC01{
    background-color:#FFBC01;
}
.services__card--FFF9F7{
    background-color:#FFF9F7;
} 

.services__card__info{
    margin: 10% auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__card__image--social{
    width: 120px;
    height: auto;
    /* hide image */
    display: none;
}

/* hide card text */
.services__card__info p{
    display: none;
}

/* show image and text with active class */
.services__card.active .services__card__image--social,
.services__card.active .services__card__info p
{
    display: block;

}

.services__card.active .services__card__image--marketing,
.services__card.active .services__card__info p
{
    display: block;

}

.services__card.active .services__card__image--data,
.services__card.active .services__card__info p
{
    display: block;

}

.services__card.active .services__card__image--search,
.services__card.active .services__card__info p
{
    display: block;
}
/* ############################################ */




.services__card__image--marketing{
    width: 100px;
    height: auto;
    /* hide image */
    display: none;
}
.services__card__image--data{
    width: 140px;
    height: auto;
    /* hide image */
    display: none;
}

.services__card__image--search{
    width: 150px;
    height: auto;
    /* hide image */
    display: none;
}

.services__card__info h3{
    margin-top: 15px;
    margin-bottom: 15px; 
}

.active{
    flex: 5;
    transition: flex 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* /////////////////////////////////////////////////////// */